<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <classPathEntry
            location="C:/Users/dream/.m2/repository/mysql/mysql-connector-java/6.0.6/mysql-connector-java-6.0.6.jar"/>

    <context id="DB2Tables" targetRuntime="MyBatis3">
        <property name="autoDelimitKeywords" value="true"/>
        <property name="beginningDelimiter" value="`"/>
        <property name="endingDelimiter" value="`"/>

        <commentGenerator>
            <property name="addRemarkComments" value="true" />
            <property name="suppressDate" value="true" />
        </commentGenerator>

        <jdbcConnection driverClass="com.mysql.cj.jdbc.Driver"
                        connectionURL="jdbc:mysql://localhost:3306/dw?serverTimezone=GMT%2B8"
                        userId="root"
                        password="123456">
        </jdbcConnection>

        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>

        <javaModelGenerator targetProject="src/main/java"
                            targetPackage="com.dream.dw.model">
            <property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>

        <sqlMapGenerator targetProject="src/main/resources"
                         targetPackage="mapping">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>

        <javaClientGenerator type="XMLMAPPER"
                             targetProject="src/main/java" targetPackage="com.dream.dw.dao">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>

        <!-- tables -->
        <table tableName="t_dw_user" domainObjectName="User"></table>
        <table tableName="t_dw_travel_note" domainObjectName="TravelNote"></table>
        <table tableName="t_dw_like_record" domainObjectName="LikeRecord"></table>
        <table tableName="t_dw_collect_record" domainObjectName="CollectRecord"></table>

    </context>
</generatorConfiguration>
